#error{
      
        border-radius: 25px;
        width: fit-content;
        color: red;
        font-size: large;
        font-weight: 1000;
        padding: 5px;
    }

#succes{
 
    border-radius: 25px;
    width: fit-content;
    color: green;
    font-size: large;
    font-weight: 1000;
    padding: 5px;
}

#demo{
 
    border-radius: 25px;
    width: fit-content;
    color: yellow;
    font-size: large;
    font-weight: 1000;
    padding: 5px;
}

#long{
 
    border-radius: 25px;
    width: fit-content;
    color: orange;
    font-size: large;
    font-weight: 1000;
    padding: 5px;
}